html, body {
    height: 100%;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        font-size: 12pt;
        font-weight: 300;
    }
    
    ol, ul {
        padding: 0;
        list-style: none;
    }
    
    .container {
        overflow: hidden;
        margin: 0em auto;
        width: 1200px;
    }
    
    .title {
        margin-bottom: 2em;
    }
    
    .title h2 {
        font-size: 2em;
        font-weight: 600;
    }
    
    .title .hello{
        font-size: 30px;
        font-family: 'Do Hyeon', sans-serif;
    }
    #header {
        position: relative;
        float: left;
        width: 300px;
        padding: 3em 0em;
    }
    
    #logo {
        text-align: center;
        margin-bottom: 4em;
        font-family: 'Do Hyeon', sans-serif;
    }
    
    #logo h1 {
        display: block;
        color: #FFF;
    }
    
    #logo span {
        padding-right: 0.5em;
        text-transform: uppercase;
        font-size: 20px;
        color: #FFF;
    }
    
    #menu li {
        border-bottom: 2px solid rgba(244,178,183,1);
    }
    
    #menu li a {
        display: block;
        padding: 2em 1.5em;
        text-align: center;
        text-decoration:  none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: rgba(255,255,255,1);
    }
    
    #menu li a:hover {
        text-decoration: none;
        color: rgba(244,178,183,1);
    }
    
    #page {
        background: rgba(246,231,241,1);
    }
    
    #main {
        overflow: hidden;
        float: right;
        width: 800px;
        padding: 3em 50px 5em 50px;
        background: #FFF;
        border-top: 6px solid rgb(245, 134, 208);
        text-align: center;
    }
    
    #featured {
        overflow: hidden;
        margin-bottom: 3em;
        padding-top: 5em;
        border-top: 1px solid rgba(0,0,0,0.08);
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    #mainmemo{
        border: 3px solid rgba(244,178,183,1);
        border-radius: 5px;
        height: 520px;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 15px;
    }
    
    #copyright {
        overflow: hidden;
        padding: 2em;
        border-top: 1px solid rgba(0,0,0,0.08);
    }
    
    #copyright span {
        display: block;
        letter-spacing: 0.15em;
        line-height: 2.5em;
        text-align: center;
        font-size: 0.80em;
        color: rgba(0,0,0,0.5);
    }

    .mainmemo .insertBtn{
       margin-left: 10px;
    }