.first-form{
    line-height: 250px;
    text-align: center;
}
.firstBtn{
    line-height: 300px;
    width: 250px;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
    display: inline-block;
    margin: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 800;
    color: floralwhite;
    text-decoration: none;
}
.hello{
    font-size: 80px;
    font-weight: 600;
    padding-top: 30px;
    color: midnightblue;
}